spring:
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
  profiles:
    active: dev
  application:
    name: noteBlog
  resources:
    static-locations: classpath:/static/
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  servlet:
    multipart:
      max-file-size: 10MB
  cache:
    #使用默认的ConcurrentMap
    type: simple
    cache-names: paramCache,defaultCache
  http:
    encoding:
      force: true
      charset: utf-8
      enabled: true
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      initial-size: 5
      min-idle: 5
      max-active: 20
      max-wait: 60000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      validation-query: SELECT 'x'
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: false
      max-pool-prepared-statement-per-connection-size: -1
      filters: stat,wall,slf4j
mybatis-plus:
  global-config:
    db-config:
      table-prefix: nb_
      id-type: auto
  mapper-locations: classpath:/mappers/*.xml
  type-enums-package: me.wuwenbin.noteblogv5.constant
  configuration:
    default-enum-type-handler: com.baomidou.mybatisplus.extension.handlers.MybatisEnumTypeHandler
server:
  tomcat:
    uri-encoding: UTF-8

druidUsername: root
druidPassword: YXWyxw110110
